{% extends 'main.twig' %}

	{% block content %}
			
				<div class="row">

					<div class="one-half column" id="content">
						<ul><h6>
							<li></li>
							<li></li>
							<li></li>
							<li></li>
							<li></li>
							<li></li>
							<li></li>

							<li>LAMP stack developer</li>

							<li>Process & Efficiency rock my world.</li>
							
							<li>Quality Assurance and testing are dear to me.</li>

							<li>Of course I have a <a href= {{ siteUrl('/details') }}>resume</a>!</li>
							
							<li>I honor no commitment to hair style or color.</li>
							
							<li>Email is the best way to <a href= {{ siteUrl('/contact') }}>contact</a> me.</li>
							
							<li>The stunning animal pictured below is: </li>
							 	<ul>
							 		<li>my service dog.</li>
									<ul id="second">
										<li>a Belgium Shepherd / German Shepherd mix.</li>
										<ul id="third">
											<li>not a wolf.</li>
										</ul>
									</ul>	
								</ul>
							</li>
							

						</h6></ul>
					</div>

								
					<div class="one-half column" id="main-image">
						<img src="img/resting.jpg" alt="Line drawing of Cosette.">
					</div>

				</div>
					

			<div class="row">	
				<div class="12 columns" id="center-me">
					<img src="img/Rhett for body position.jpg" alt="Rhett.  Fluffy Belgian shephard mix in repose, looking up at text.">
				</div>
			</div>
		
	{% endblock content %}
