{% extends 'main.twig' %}

	{% block content %}
			
				<div class="row">

					<div class="one-half column" id="content">
						<ul><h6>
							<li></li>
							<li></li>
							<li></li>
							<li></li>
							<li></li>
							<li></li>
							<li></li>
							<li>Process & Efficiency rock my world.</li>
							<li>Of course I have a <a href= {{ siteUrl('/details') }}>resume</a>!</li>
							<li>Alternative titles for this site:
								<ul>
									<li>Developer looking for entry level PHP job.</li>
								</ul>
							<li>Or</li>
								<ul>
									<li>Developer looking for entry level data management position</li>
								</ul>
							</li> </li>
							<li>I refuse to honor any commitment to hair style or color.</li>
							<li>Email is the best way to get my <a href= {{ siteUrl('/contact') }}>attention</a>.</li>
							<li>The animal pictured below: </li>
							 	<ul>
							 		<li>is a Belgium Shepherd-White German Shepherd mix.</li>
									<ul id="second">
										<li>a service dog. </li>
										<ul id="third">
											<li>not a wolf.</li>
										</ul>
									</ul>	
								</ul>
							</li>
							

						</h6></ul>
					</div>

								
					<div class="one-half column" id="main-image">
						<img src="img/resting.jpg" alt="Line drawing of Cosette.">
					</div>

				</div>
					

			<div class="row">	
				<div class="12 columns" id="center-me">
					<img src="img/Rhett for body position.jpg" alt="Rhett.  Fluffy Belgian shephard mix in repose, looking up at text.">
				</div>
			</div>
		
	{% endblock content %}
